:root {
  --color-text: #212121;
  --color-fon: #FFFFFF;
  --color-fon-two:#F5F4FA;
  --color-acsent: #2196f3;
  --color-buttom: #757575;
  --color-icon:#AFB1B8;
}

body {
  background-color: var(--color-fon);
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  outline: 0;
}

button {
  outline: 0;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--color-text);
  background-color: var(--color-fon-two);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: var(--color-fon);
  border-color: var(--color-acsent);
  background-color: var(--color-acsent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-fon);
  background-color: var(--color-acsent);
  border: 0;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: rgba(33, 150, 243, 0.8);
}

.footer__button {
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: none;
  color: var(--color-fon);
  background-color: var(--color-acsent);
  fill: var(--color-fon);
  border-color: var(--color-acsent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button:hover, .footer__button:focus {
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__button {
    margin-top: 20px;
    margin-left: 140px;
  }
}

.form__buttom {
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  background-color: var(--color-acsent);
  border: 0;
  color: var(--color-fon);
  padding: 10px 55px;
  margin-top: 30px;
  margin-left: 124px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__buttom:hover, .form__buttom:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0.9);
}

.button__portfolio {
  padding: 6px 22px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .clients__header {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.clients__content {
  fill: var(--color-icon);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .clients__content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.client__icon {
  display: block;
  text-align: center;
  padding-top: 16px;
  cursor: pointer;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  fill: var(--color-icon);
  width: 170px;
  height: 92px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon:hover, .client__icon:focus {
  fill: var(--color-acsent);
  border: 1px solid var(--color-acsent);
}

.clients__content--pos {
  margin: 15px;
}

.comanda {
  background-color: var(--color-fon-two);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .comanda {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .comanda {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .comanda {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comanda {
    width: 768px;
  }
}

.comanda__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .comanda__header {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.comanda__content {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .comanda__content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.comanda__content--pos {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-fon);
}
@media screen and (min-width: 768px) {
  .comanda__content--pos {
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .comanda__content--pos:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .comanda__content--pos {
    width: 450px;
    height: 622px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comanda__content--pos {
    width: 354px;
    height: 536px;
  }
}

.comanda__content--pos-img {
  display: block;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .comanda__content--pos-img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comanda__content--pos-img {
    width: 354px;
    height: 374px;
  }
}

.comanda__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comanda__fio {
  font-weight: 500;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.comanda__profeshion {
  color: var(--color-buttom);
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
}

.comanda__socio {
  display: flex;
  justify-content: center;
}

.comanda__icon {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  padding-top: 25%;
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 0);
  fill: var(--color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comanda__icon:hover, .comanda__icon:focus {
  fill: #FFFFFF;
  border-radius: 50%;
  background-color: var(--color-acsent);
}

.comanda__sosio--pos {
  margin-right: 10px;
}
.comanda__sosio--pos:last-child {
  margin-right: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.contact {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-buttom);
  margin-left: auto;
}
@media screen and (max-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    display: none;
  }
}

.contact__adress {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--color-buttom);
}

.contact__adress--pos {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact__adress--pos:not(:first-child) {
    margin-left: 50px;
  }
}
.contact__adress--pos:hover, .contact__adress--pos:focus {
  color: var(--color-acsent);
}

.contact__icon {
  fill: var(--color-icon);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__adress:hover .contact__icon, .contact__adress:focus .contact__icon {
  fill: var(--color-acsent);
}

.quality {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .quality {
    padding-top: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .quality {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.quality__header {
  font-size: 0;
}

.quality__content {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
@media screen and (min-width: 320px) {
  .quality__content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .quality__content--pos {
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .quality__content--pos:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .quality__content--pos {
    width: 354px;
    height: 226px;
  }
}

.quality__icon {
  display: flex;
  height: 120px;
  background: var(--color-fon-two);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.quality__titel {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.quality__text {
  color: var(--color-buttom);
  font-weight: 400;
  line-height: 1.7;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 270px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}

.header {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    width: 768px;
  }
}

.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("fonhero1.jpg");
  }
}
.hero {
  background: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fonhero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 280px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    min-width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
  }
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color-fon);
  max-width: 696px;
  margin: auto;
}
@media screen and (max-width: 1199px) {
  .hero__header {
    line-height: 1.4;
    font-size: 26px;
    line-height: 1.6;
    max-width: 360px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-decoration: none;
}

.logo__web {
  color: var(--color-acsent);
}

.logo--header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo--footer {
  margin-bottom: 20px;
  color: var(--color-fon);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__button-close--pos {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__button-close--icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal__button-close {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover {
  fill: var(--color-acsent);
}

.modal__container {
  padding: 40px;
  min-width: 100%;
  min-height: 100%;
}

.modal__header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-bottom: 10px;
}

.form__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__content:hover, .form__content:focus {
  fill: var(--color-acsent);
  border-color: var(--color-acsent);
}

.form__cell {
  position: relative;
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-buttom);
  margin-bottom: 4px;
}

.form__input {
  cursor: pointer;
  height: 40px;
  width: 100%;
  background: var(--color-fon);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-buttom);
  padding-left: 40px;
}
.form__input:hover, .form__input:focus {
  outline: 0;
  border-color: var(--color-acsent);
}
.form__input:focus + .form__icon--person {
  fill: var(--color-acsent);
}

.form__textarea {
  cursor: pointer;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  background: var(--color-fon);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-buttom);
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  outline: 0;
  border-color: var(--color-acsent);
}

.form__icon--person {
  position: absolute;
  left: 1px;
  transform: translate(50%, 50%);
}

.form__terms {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.form__label-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-buttom);
}
@media screen and (min-width: 1200px) {
  .form__label-check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__treaty {
  color: var(--color-acsent);
}

.form__checkbox {
  position: absolute;
  top: 5px;
  left: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
}

.form__icon-svg {
  color: var(--color-buttom);
}

.form-input:focus + .form-icon-person {
  fill: var(--color-acsent);
}

.form__icon-svg {
  position: absolute;
  top: 5px;
  left: 30px;
  border-radius: 4px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
}
.form__checkbox:checked + .form__icon-svg {
  background-image: url("../images/icon check .svg");
  border: 0;
}

.buttom__menu {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: var(--color-text);
}
@media screen and (min-width: 768px) {
  .buttom__menu {
    display: none;
  }
}
.buttom__menu .buttom__menu--cross {
  display: none;
}

.menu__contener--close-pos {
  position: relative;
}

.buttom__menu--cross-s {
  position: absolute;
  top: 10px;
  right: 40px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom__menu--cross-s:hover, .buttom__menu--cross-s:focus {
  fill: var(--color-acsent);
}

.menu__contener {
  display: none;
  padding-left: 48px;
  padding-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  z-index: 1;
  background-color: var(--color-fon);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 768px) {
  .menu__contener.is-open {
    display: block;
  }
}
.menu__contener--list {
  font-family: Roboto;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__contener--list:hover, .menu__contener--list:focus {
  color: var(--color-acsent);
}
.menu__contener--list-pos:not(:first-child) {
  margin-top: 32px;
}
.menu__contener--list-tel {
  color: var(--color-buttom);
  font-size: 34px;
}
.menu__contener--list-mail {
  color: var(--color-buttom);
  font-size: 24px;
}
.menu__contener--list-socio {
  color: var(--color-acsent);
  font-size: 18px;
  line-height: 1.22;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 2px solid var(--color-buttom);
}
.menu__contener--list-activ {
  color: var(--color-acsent);
}
.menu__contener--nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__contener--contact {
  display: flex;
  flex-direction: column;
  margin-top: 302px;
}
.menu__contener--socio {
  display: flex;
  margin-top: 64px;
}
.menu__contener--socio-list {
  display: flex;
  text-align: center;
  height: 22px;
}

.portfolio-hero {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .portfolio-hero {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio-hero {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-hero {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-hero {
    width: 768px;
  }
}

.portfolio-hero__header {
  font-size: 0;
  margin: 0;
}

.portfolio-hero__content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio-hero__content--pos {
  cursor: pointer;
  height: 404px;
}
@media screen and (min-width: 480x) {
  .portfolio-hero__content--pos {
    margin: -15px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-hero__content--pos {
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio-hero__content--pos:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-hero__content--pos {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-hero__content--pos {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-hero__content--pos {
    width: 370px;
  }
}

.portfolio-hero__block {
  display: inline-block;
  height: 404px;
  border: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-hero__block:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio-hero__block:hover .portfolio-hero__thumb::before {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-hero__block:hover .portfolio-hero__thumb-text {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-hero__block {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-hero__block {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-hero__block {
    width: 370px;
  }
}

.portfolio-hero__content--pos-img {
  height: 294px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio-hero__content--pos-img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-hero__content--pos-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-hero__content--pos-img {
    width: 370px;
  }
}

.portfolio-hero__titly {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.4;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding-bottom: 4px;
}

.portfolio-hero__types {
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--color-buttom);
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-hero__text {
  padding: 20px 24px;
}

.portfolio-hero__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-hero__thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-hero__thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-fon);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.55;
  font-size: 18px;
  padding: 63px 24px;
  opacity: 0;
}

.portfolio-hero__buttoms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .portfolio-hero__buttoms {
    justify-content: left;
  }
}
@media screen and (max-width: 1199px) {
  .portfolio-hero__buttoms {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-hero__buttoms {
    margin-bottom: 50px;
  }
}

.portfolio-hero__buttoms--pos:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-hero__buttoms--pos {
    margin-bottom: 15px;
  }
}

.site-nav {
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}

.site-nav__menu {
  display: flex;
}

.site-nav__menu--pos {
  margin-right: 50px;
}

.site-nav__menu--pos:nth-child(3) {
  margin-right: 0;
}

.site-nav__menu--link {
  color: var(--color-text);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__menu--link:hover, .site-nav__menu--link:focus {
  color: var(--color-acsent);
}

.site-nav__menu--line {
  position: relative;
}
.site-nav__menu--line::after {
  display: block;
  position: absolute;
  top: 46px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--color-acsent);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

.work__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work__content {
  display: flex;
}

.work__content--pos {
  margin-right: 30px;
}
.work__content--pos:last-child {
  margin-right: 0;
}

.work__img {
  display: block;
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0;
}

.work__text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  height: 70px;
  width: 100%;
  color: var(--color-fon);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 0;
}

.footer {
  background-color: #2F303A;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 603px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
    width: 768px;
  }
}

.footer__flex {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__flex {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.footer__adress {
  display: inline-flex;
  text-decoration: none;
  flex-direction: column;
}

.footer__contact {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}

.footer__street {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-fon);
  text-decoration: none;
}

.footer__sosio {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .footer__sosio {
    margin-top: 60px;
    margin-left: 0;
  }
}

.footer__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-fon);
  margin-bottom: 20px;
}

.footer__sosio--pos {
  display: flex;
  justify-content: center;
}

.footer__icon {
  display: block;
  text-align: center;
  padding-top: 25%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  fill: #FFFFFF;
  border: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon:hover, .footer__icon:focus {
  background-color: var(--color-acsent);
  border-color: var(--color-acsent);
}

.footer__icon--pos {
  margin-right: 10px;
}
.footer__icon--pos:last-child {
  margin-right: 0;
}

.footer__form {
  margin-left: 93px;
}
@media screen and (max-width: 1199px) {
  .footer__form {
    margin-top: 60px;
    margin-left: 0;
  }
}

.footer__input {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-icon);
  background-color: #2F303A;
  margin-right: 12px;
  padding-left: 16px;
}
@media screen and (max-width: 767px) {
  .footer__input {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */