.portfolio-hero__buttoms {
    display:flex;
    flex-wrap: wrap;
     justify-content: center;
 
    
    
     @media screen and (max-width: 768px) {
      justify-content: left;
            
      }     
    
      
      @media screen and (max-width: 1199px) {
        
        margin-bottom: 30px;          
        }  
  
      @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
          
      }

     }

    .portfolio-hero__buttoms--pos {



      &:not(:last-child) {
        margin-right: 8px;
      }
     
        @media screen and (max-width: 767px) {
        margin-bottom: 15px;
      
        
      }
      
    }
